#!/usr/bin/make -f

LINUX = linux-$(shell uname -m)


%:
	dh ${@}

override_dh_auto_clean:
	dh_auto_clean
	rm -f *.tar.xz

override_dh_auto_build:
	./lint-build.sh
	tar cvfJ $(LINUX)-lintian-release.tar.xz \
		$(LINUX)/mozilla-1.9.2/release \
		$(LINUX)/sqlite/release \
		$(LINUX)/taglib/release \
		$(LINUX)/xulrunner-1.9.2/release

