#!/usr/bin/make -f

LINUX = linux-$(shell uname -m)

debug = \
$(LINUX)/mozilla-1.9.2/debug \
$(LINUX)/sqlite/debug \
$(LINUX)/taglib/debug \
$(LINUX)/xulrunner-1.9.2/debug

release = \
$(LINUX)/mozilla-1.9.2/release \
$(LINUX)/sqlite/release \
$(LINUX)/taglib/release \
$(LINUX)/xulrunner-1.9.2/release


%:
	dh ${@} --parallel

override_dh_auto_clean:
	dh_auto_clean
	rm -f *.tar.lzma

override_dh_auto_build:
	./lint-build.sh
	tar cvf - $(debug) | lzma > $(LINUX)-lintian-debug.tar.lzma
	tar cvf - $(release) | lzma > $(LINUX)-lintian-release.tar.lzma

