#!/usr/bin/make -f

export V=1
export CXXFLAGS = \
	$(filter-out -g,$(shell dpkg-buildflags --get CXXFLAGS)) \
	-fomit-frame-pointer \
	-Wno-delete-non-virtual-dtor \
	-Wno-unused-but-set-variable \
	-I/usr/include/nspr \
	$(shell dpkg-buildflags --get CPPFLAGS)

ac_add_options = \
	--with-taglib-source=packaged \
	--enable-libnotify \
	--enable-system-nspr \
	--enable-jars=yes \
	--enable-official


%:
	dh ${@} --parallel

override_dh_auto_clean:
	dh_auto_clean -- clobber
	rm -rf traytmp dependencies/linux-x86_64/ dependencies/linux-i686/
	rm -f nightingale.config config.log addons/*.xpi *.xpi *.zip

override_dh_auto_configure:

override_dh_auto_build:
	cd dependencies && tar xvfJ /usr/lib/nightingale-deps/linux-*-lintian-release.tar.xz
	$(foreach OPTION,$(ac_add_options),echo 'ac_add_options $(OPTION)' >> nightingale.config ;)

	dh_auto_build
	cp compiled/xpi-stage/minimizetotray/*.xpi minimizetotray.xpi

	# make additional addons
	addons/make.py addons/equalizerpane
	addons/make.py addons/newtab

override_dh_auto_test:

override_dh_auto_install:
	dh_auto_install

	cd debian/tmp/usr/lib/nightingale/xulrunner && \
		rm -rf chrome ../chrome dictionaries libnspr4.so LICENSE README.txt res
	cp -f debian/nightingale.links.in debian/nightingale.links

	# install pictures and jars into /usr/share and replace
	# them with symbolic links
	prefix=debian/tmp/usr ;\
	DIR=$$prefix/lib/nightingale/ ;\
	files=$$(\
		find $$DIR -name \*.png -printf '%p '; \
		find $$DIR -name \*.gif -printf '%p '; \
		find $$DIR -name \*.jpg -printf '%p '; \
		find $$DIR -name \*.xpm -printf '%p '; \
		find $$DIR -name \*.jar -printf '%p '; \
		);\
	for f in $$files; \
	do \
		in=$$(echo $$f | sed -e "s|$$prefix|/usr|") ;\
		out=$$(echo $$f | sed -e "s|$$prefix/lib|$$prefix/share|") ;\
		target=$$(echo $$out | sed -e "s|$$prefix|/usr|") ;\
		mkdir -v -p $$(dirname $$out) ;\
		mv -v $$f $$(dirname $$out) ;\
		echo $$target'      '$$in >> debian/nightingale.links ;\
	done

override_dh_installdocs:
	dh_installdocs --link-doc=nightingale-common

override_dh_clean:
	dh_clean debian/nightingale.links

override_dh_shlibdeps:
	dh_shlibdeps -Lnightingale -l/usr/lib/nightingale/xulrunner

